*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav{
    height: 50px;
    display: flex;
    background-color: lightpink;
    grid-area: na;
    justify-content: center;
    align-items: center;
}

.nav-block-element-active{
    height: 90vh;
    width: 420px;
    position: fixed;
    transition: all 0.5s;
}

.nav-links{
    height: 90vh;
    display: flex;
    list-style: none;
    top: -95vh;
    position: absolute;
    flex-direction: column;
    justify-content: space-evenly;
}

nav li a{
    text-decoration: none;
    font-size: 24px;
    letter-spacing: 1px;
    font-weight: bold;
    text-transform: capitalize;
}

.nav-active {
    height: 90vh;
    transform: translateY(90vh);
}

.hamburgare div {
    background-color: rgb(223, 144, 70);
    height: 3px;
    width: 25px;
    margin: 5px;
    border-radius: 10%;
    transition: all 0.3s;
    cursor: pointer;
    margin-right: 50px;
}

.toggle .line1 {
    transform: translateY(137px) rotate(-45deg) translate(-17px, 6px);

}
.toggle .line2 {
    opacity: 0;
}
.toggle .line3 {
    transform: translateY(137px) rotate(45deg) translate(-5px, 6px);

}

main{
    padding: 50px;
    background-color: aqua;
    grid-area: ma;

    display: grid;
    width: 420px;
    height: 100vh;
    overflow-y: scroll;

    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr 200px;
    grid-template-areas: 
    "he"
    "se1"
    "se2";    
}

#welcome_main{
    background: img/padel_bild_1(img); 
}

header{
    background-color: orange;
    grid-area: he;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 7px;
}

.section_1{
    background-color: red;
    grid-area: se1;
    padding: 15px;
    border-radius: 7px;
}

.section_2{
    background-color: red;
    grid-area: se1;
}

footer{
    height: 400px;
    background-color: orchid ;
    grid-area: fo;
}

.grid_wrapper{
    display: grid;
    width: 420px;
    height: 830px;

    grid-template-columns: 420px;
    grid-template-rows: 100px, 800px, 400px;

    grid-template-areas: 
    "na"
    "ma"
    "fo";
}

@media (min-width: 800px){
    .grid_wrapper{
        display: grid;
        width: 100vw;
        height: 100vh;
    
        grid-template-columns: 1fr;
        grid-template-rows: 200px, 800px, 400px;
    
        grid-template-areas: 
        "na"
        "ma"
        "fo";
    }

    main{
        width: 100vw;
    }

    .line1 {
        opacity: 0;
    }
    .line2 {
        opacity: 0;
    }
    .line3 {
        opacity: 0;
    }

    .nav-links{
        height: 50px;
        width: 100vw;
        display: flex;
        list-style: none;
        position: absolute;
        transform: translateY(90vh);
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }

}