*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
}

nav{
    height: 50px;
    display: flex;
    background-color: white;
    grid-area: na;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

.nav-block-element-active{
    height: 600px;
    width: 100vw;
    position: fixed;
    transition: all 0.5s;
}

.nav-links{
    height: 200px;
    display: flex;
    list-style: none;
    top: -545px;
    position: absolute;
    flex-direction: column;
    justify-content: space-evenly;
}

nav li a{
    text-decoration: none;
    font-size: 24px;
    letter-spacing: 1px;
    font-weight: bold;
    text-transform: capitalize;
}
nav li a:link{
    color: black;
}
nav li a:visited{
    color: black;
}

.nav-active {
    height: 500px;
    transform: translateY(495px);
}

.hamburgare div {
    background-color: black;
    height: 4px;
    width: 25px;
    margin: 5px;
    border-radius: 10%;
    transition: all 0.3s;
    cursor: pointer;
    margin-right: 50px;
}

.toggle .line1 {
    transform: translateY(137px) rotate(-45deg) translate(-18px, 8px);

}
.toggle .line2 {
    opacity: 0;
}
.toggle .line3 {
    transform: translateY(137px) rotate(45deg) translate(-5px, 6px);
}

main{
    padding: 40px;
    background-color: white;
    grid-area: ma;

    display: grid;
    width: auto;
    height: auto;
    overflow-y: auto;

    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr auto;
    grid-template-areas: 
    "he"
    "se1"
    "se2"
    "se3"
    ;    
}

#welcome_main{
    background-image: url(/img/padel_bild_1_edit.jpg);
    background-position: center;
    background-size: cover;
}
#about_main{
    background-image: url(/img/padel_bild_6_edit.jpg);
    background-position: center;
    background-size: cover;
}
#booking_main{
    background-image: url(/img/padel_bild_3_edit.jpg);
    background-position: center;
    background-size: cover;
}
#buy_main{
    background-image: url(/img/padel_bild_7_edit.jpg);
    background-position: center;
    background-size: cover;
}
#what_main{
    background-image: url(/img/padel_bild_5_edit.jpg);
    background-position: center;
    background-size: cover;
}

header{
    display: flex;
    background-color: white;
    grid-area: he;
    margin-bottom: 10px;
    border-radius: 7px;
}

header h1{
    font-family: sans-serif;
    margin: 20px;
    align-items: center;
}

.section_1{ 
    background-color: white;
    grid-area: se1;
    margin: 2px;
    padding: 20px;
    border-radius: 7px;
    font-size: 19px;
}

.section_1 h2{
    font-family: sans-serif;
    margin: 3px;
}

#bild_welcome_section_1{
    width: 60%;
    float: right;
    padding: 6px;
}
.section_2{
    background-color: white;
    margin: 2px;
    padding: 20px;
    border-radius: 7px;
    grid-area: se2;
    font-size: 19px;
}

.section_2 h2{
    font-family: sans-serif;
    margin: 3px;
}

#bild_booking_section_2{
    width: 60%;
    float: left;
    padding: 6px;
}

.section_3{
    background-color: white;
    margin: 2px;
    padding: 20px;
    border-radius: 7px;
    grid-area: se3;
    font-size: 19px;
}

.section_3 h2{
    font-family: sans-serif;
    margin: 3px;
}

footer{
    background-color: white;
    grid-area: fo;

    display: grid;
    width: auto;
    height: auto;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "rd1 rd2"
    ; 
    display: flex;
    justify-content: space-evenly;   
}
#rad_1{
    font-size: 20px;
    grid-area: rd1;
    padding: 5px;
}
#rad_2{
    font-size: 20px;
    grid-area: rd2;
    padding: 5px;
}

.footer_rubrik{
    font-family: sans-serif;
    text-decoration: none;
    list-style: none;
    font-weight: bold;
    font-size: 17px;
}
footer div ul li a{
    text-decoration: none;
}

.grid_wrapper{
    display: grid;
    width: auto;
    height: auto;

    grid-template-columns: auto;
    grid-template-rows: auto auto auto;

    grid-template-areas: 
    "na"
    "ma"
    "fo";
}

@media (min-width: 650px){
    .grid_wrapper{
        display: grid;
        width: 100vw;
        height: 100vh;
    
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr auto;
    
        grid-template-areas: 
        "na"
        "ma"
        "fo";
    }

    nav li a{
        font-size: 26px;
    }

    header{
        background-color: azure;
        opacity: 90%;
        padding: 5px;
    }

    .nav-links{
        height: 50px;
        width: 100vw;
        display: flex;
        list-style: none;
        position: absolute;
        top: 0px;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }
    .nav-links a:hover{
        font-size: 28px;
    }

    main{
        height: max-content;
        width: 100vw;
        background-image: url(/img/padel_bild_2_edit.jpg);
        background-size: cover;

        grid-template-columns: 2fr 1fr;
        grid-template-rows: 100px 1fr auto;
        grid-template-areas: 
        "he he"
        "se1 se2"
        "se3 se2"
        ;
    }
    #about_main{
        background-image: url(/img/padel_bild_2_edit.jpg);
        background-position: center;
        background-size: cover;
    }
    #buy_main{
        background-image: url(/img/padel_bild_4.jpg);
        background-position: center;
        background-size: cover;
    }

    .section_1{
        background-color: azure;
        opacity: 90%;
        height: fit-content;
    }
    #bild_welcome_section_1{
        width: 40%;
    }
    #bild_booking_section_2{
        width: 29%;
    }

    .section_2{
        background-color: azure;
        opacity: 90%;
        height: fit-content;
        margin: 0px;
        padding: 15px;
        border-radius: 7px;
        grid-area: se2;
    }

    .section_3{
        background-color: azure;
        opacity: 90%;
        height: fit-content;
    }

    .line1 {
        opacity: 0;
    }
    .line2 {
        opacity: 0;
    }
    .line3 {
        opacity: 0;
    }

    footer{
        width: auto;
    }

    #rad_1{
        font-size: 16px;
    }
    #rad_2{
        font-size: 16px;
    }
}